
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400;500&family=Lato&family=Montserrat&family=Open+Sans&family=Roboto&family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100;1,300&display=swap');
:root {
    --base-blue: #2d3a50;
    --base-yellow: #f3d17b;
}
body{
    overflow-x: hidden;
    margin: 0px 0px;
    font-size: 14px;
}
.all-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.header.unscrolled{
    background-image: url(./images/background-intro.svg);
    background-size: cover;
    position: sticky;
    top:0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8.5vh;
}

.header.scrolled{
    background-color: #fff  !important;
    box-shadow: 0px 6px 8px -1px rgba(0,0,0,0.1) , 0px 3px 4px -1px rgba(0,0,0,0.06) ;
    transition: background-color 100ms forwards;
    position: sticky;
    top:0;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 8.5vh;
}
.header .middle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header .middle .img-logo, .header .middle .img-svg{
    
    justify-self: flex-start;
    align-items: flex-start;
    width: auto;
    padding: 1px;
    height:100%;
}

img{
    height:100%;
}
.img-svg{
    display: none;
}
.img-svg.visible a , .img-logo a{
    height: 100%;
}

.img-logo.invisible img{
    display: none;
}

.img-svg.visible{
    display: flex !important;
    height:70% !important;
    width: auto;
}
.img-svg.visible img{
    height: 85%;
}
.img-svg img:hover, .img-logo img:hover{
    transform: scale(1.05) ;
    transition: 200ms ease-in-out;
    opacity: 0.9;
}

.header .middle .right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    justify-self: flex-end !important;
    align-items: center;
    width: 50%;
    padding: 1px;
    height:100%;
}
.header-btn{
    overflow: wrap;
    background-color: transparent;
    color: #263146;
    text-transform: uppercase;
    padding: 0.5em 1em;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    transition: color 0.3s;
    cursor: pointer;
    border: none;
    outline: none;
}
.header-btn:hover{
    color: #5c6066;
    transform: scale(1.1);
}

.intro-left, .intro-right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
    overflow:unset;
}


.headline{
    width: 85%;
    font-size: 4em;
    color: #f8d16c;
    display: inline;
    font-family: 'Playfair Display';
    line-height: 2;
    margin: 1rem;
    background-image: linear-gradient( to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 30%, rgba(255, 255, 255, 0.2) 70%, transparent 70%, transparent 100% );
}
.headline2{
    background-image: linear-gradient( to right, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 40%, rgba(255, 255, 255, 0.2) 0%, transparent 40%, transparent 100% );
}
h1{
    display: inline;    
}
.hamburger{
    width: 0;
    display: none;
}
.intro-para{
    color: #ffffff;
    padding: 1rem 1rem;
    font-size: 20px;
    line-height: 1.5;
    margin-top: 1em;
}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.intro-right{
    align-items: flex-end;
}
.intro-right img{
    margin: 2rem;
    margin-left: 3rem;
    margin-bottom: 10rem;
    height:auto;
    width:80%;
    
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.section{
    width: 100% !important;
   justify-content: center;
   align-items: center;
   margin: 0;
}

.intro{
    background-image: url(./images/background-intro.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw; 
    min-height: 93vh;
}

.projects{
    display: flex;
    flex-direction: column;
    width: 80vw;
    max-width: 1180px;
    align-items: center;
    justify-content: space-around;
    margin:1rem auto;
}
.projects div{
    margin: auto;
}
.project-img {
    height:30%;
    padding:0 1rem;
    width:30%;
    display: flex;
    justify-content: center;
}
.project-img img{
    height: auto;
    width: 258px;
    margin:auto;
}
.project-names{
    cursor: pointer;
    
    width: 100%;
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    flex-wrap: wrap ;
    overflow: wrap;
    
}
.project{
    height: 18rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 1rem 2rem;
    margin: 1rem 0;
    
}
.num{
    display:block;
    top:0;
    align-self: flex-start;
    margin:0 !important;
    left: 0;
    height: 1px !important;
    color: rgba(248, 209, 108, 0.5);
    font-size: 15em;
    font-family: 'Barlow Condensed', sans-serif;
}

.info{
    margin:0 !important;
    font-size: 1.2rem;
    background: none transparent;
    text-align: right;
    box-sizing: content-box;
    height: 80%  !important;
    width: 100% !important;
    display:flex ;
    align-self: flex-end;
     flex-direction:column ;
     justify-content:center;
     align-items: flex-end;
    
}

.name{
    height: 2rem  !important;
    min-width:fit-content;
    margin-top: 1rem !important;
    margin-bottom: 0.1rem !important;
    margin-right: 0rem !important;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size:20px;
}
.detail{
    padding: 0;
    margin: 0.5rem 0rem !important;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: italic bold;
    font-size: 14px;
    color: #999999;    
}

.more-btn{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: transparent;
    color: #263146;
    padding: 0.5rem;
    margin-bottom: 0.8rem;
   outline:none ;
}
.more-btn:hover{
    background: #f8d16c;
}

.blog{
    display: flex;
    flex-direction: column;
    background: #ebebeb;
    padding: 1rem;
}
 

.blog-img{
    height:185px;
    width: auto;
    margin: 1rem;
}
.blog-content{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 300;
    width: 40%;
    padding: 2rem;
    margin: 2rem 2rem;
    text-align: right;
}

.more-info{

    background: var(--base-blue);
    display:flex;
    height: max-content;
    width: 100vw  !important;
}

.headline-p , .headline-b {
    text-align: center  !important;
    color: #3a3736ff;
    margin: 1rem 0;
    border-bottom: 0.3em #f8d16c solid;
}
.left-c, .right-c{
    /* min-height:22rem; */
    width:50%;
    color: #dddddd;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 1.5rem;
}


.heading-i{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 21px;
    font-style: bold;
    color:#fff;
}
.icons-all{
    width:40%;
    margin-left: 0;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:#fff;
}
.fab:hover,.fas:hover,.email-no:hover{
    color: var(--base-yellow);
}
.email-no{
    color: #f8d16c;
}

i.fab , i.fas{
    width:1.5rem;
    height:100%;
}
footer {
    position: absolute;
    height: 100%;
    width: 100vw;
    height: 6vh !important;
    background: rgb(39,48,67);
    display: flex;
    align-items: center;
}
.middle{
    width: 80vw;
   
    max-width: 1180px;
    height:100%;
    margin: auto;
    display: flex;
    flex-direction: row  !important;
    justify-content: center;
    align-items: center;
}

.intro .middle{
    height: 80%;
}

.blog .middle{
    height:60%;
    margin: 0;
    justify-content: space-around;
}
.blog-center.middle{
    justify-content: space-between;
}
.foot-div{
    width: 80vw;
    margin: auto;
    text-align: left  !important;
    color: #ffffff;
    align-self: center;
}

.more-info .middle{
    height: 90%;
}

@media screen and (max-width:890px){
    .middle{
        width: 90vw;
    }
    .intro-right img{
        height: 9.5rem;
        width: auto;
    }
    .header-btn{
        font-size: 1rem;
    }
    .headline{
        font-size: 3.2em;
    }
    .intro-para{
        font-size:16px;
    }
    .icons-all{
        width: 60%;
    }
}
@media screen and (max-width:600px){
    .intro-right{
        display: none;
    }
    .intro{
        background-image: none;
        background-color: var(--base-blue);
    }
    .intro-left{
        width: 100vw;
    }
    .header.unscrolled{
        background-image: none;
        background-color: var(--base-blue);
    }
    .headline{
        font-size: 3.2em;
    }

    .header.unscrolled .header-btn{
        font-size: 0.9rem;
        color: var(--base-yellow);
    }
    .header.scrolled .header-btn{
        font-size: 0.9rem;
    
    }
    .blog-img{
        height: 155px;
        width: auto;
    }
    .blog-center.middle{
        flex-direction: column !important;
    }
    .blog-content{
        width: 90%;
        text-align: center;
        margin: 0;
    }
    .heading-i{
        font-size: 18px;
    }
    .project ,.info{
        width:100%;
        height: 12rem;
    }
    .more-info .middle{
        flex-direction: column-reverse !important;
    }
    .right-c{
        width: 100%;
        padding: 0.7rem;
    }
    .right-c div{
        margin:auto;
    }
    .left-c{
        align-self: flex-start;
    }
    .left-c div{
        text-align: left;
    }
    .right button{
        display: none;
    }
    .hamburger{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .img-svg{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
    }
    .img-svg img{
        height: 80%;
    }
    .header.unscrolled .img-svg{
        display:none;
    }
    .header.unscrolled .hamburger{
        color: var(--base-yellow);
    }
    .icons-all{
        width: 90%;
    }
    .num{
        font-size: 12em;
    }
}
